{# templates/customer/create.html.twig #}

<!-- Modal-Struktur -->
<div class="modal fade" id="createCustomerModal" tabindex="-1" role="dialog" aria-labelledby="createCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="createCustomerModalLabel">Neuen Kunden hinzufügen</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                    
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form, {'attr': {'id': 'customerForm'}}) }}
                <h5>Firma</h5>
                {{ form_widget(form.name) }}
                <h5>Suchnummer</h5>
                {{ form_widget(form.suchnummer) }}
                <h5>Erstellt am</h5>
                {{ form_widget(form.createdAt) }}
            </div>
            <div class="modal-footer">
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

