{# templates/customer/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="de">
<link rel="stylesheet" href="{{ asset('css/customer.css') }}">
<script src="{{ asset('js/doku.js') }}"></script>
  <div class="search-add-box">
  <div class="search-box">
  <form action="{{ path('customer_index') }}" method="get">
    <input type="text" name="search" placeholder="Kunden suchen...">
    <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
  </form>
  </div>
  <button type="button" class="btn btn-primary" id="addDocumentation">
<i class="fas fa-folder-plus"></i>
  </button>
  <button type="button" class="btn btn-primary" id="addCustomerButton" onclick="customerModal()">
  <i class="fas fa-user-plus"></i>
  Neu
</button>
</div>

<h2>Kundenverzeichnis</h2>

<div class="customer-list">
    <div class="customer-list-header">
        <span title="ID">ID:</span>
        <select id="displayOption">
            <option value="name">Name</option>
            <option value="suchnummer">Suchnummer</option>
        </select>
        <span class="clickable" title="Erstellt am">Erstellt am:</span>
        <span title="Geändert">Geändert am:</span>
        <span class="clickable" title="Geändert von">Geändert von:</span>
    </div>
    {% for customer in customers %}
    <a href="{{ path('customer_detail', {'id': customer.id}) }}">
        <div id="customerList" class="customer-entry {% if loop.index is odd %}customer-odd{% endif %}">
            <div>{{ customer.id }}</div>
            <div class="name-or-searchnum" data-name="{{ customer.name }}" data-searchnum="{{ customer.suchnummer }}">
                {{ customer.name }} <!-- Standardmäßig Name anzeigen -->
            </div>
            <div>{{ customer.createdAt|date('d.m.Y') }}</div>
            <div>{{ customer.updatedAt|date('d.m.Y H:i') }}</div>
            <div>{{ customer.updatedBy.username }}</div>
        </div>
    </a>
    {% endfor %}
</div>
<style>
.swal2-modal {
width: 600px;
padding: 2rem;
}
#create-customer-form {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.form-group {
width: 48%;
}
</style>
</html>
{% endblock %}
